


<h3>Listing users</h3>
<% if session[:user_type] == 'user' %>
    You are not authorized to view this content !
<% else %>

<table class='table-hover table-bordered'>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Usertype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @flag = 0 %>
  <% @users.each do |user| %>
      <% if session[:user_type] == 'super admin' %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td><%= user.usertype %></td>
            <td><button class="btn"> <%= link_to 'Show', user %></button></td>

            <% if user.usertype != 'super admin' %>
                <td><button class="btn "><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
            <% end %>
          </tr>
      <% elsif session[:user_type] == 'admin' %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td><%= user.usertype %></td>
            <td><button class="btn"> <%= link_to 'Show', user %></button></td>

            <% if user.usertype != 'super admin' || user.usertype != 'admin' %>
                <% if user.id == session[:user].id || user.usertype == 'user' %>
                    <td><button class="btn "><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
                <% end %>
            <% end %>
          </tr>

      <% end %>
  <% end %>

</table>
<% end %>
<br />

<!-- <button class="btn"><%= link_to 'New User', new_user_path %> </button>              -->

